:root {
    --color-i: #448c67;
    --container-r: 100px;
    --container-l: 100px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
html{
    scroll-behavior: smooth;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media(min-width:767px) {
    container {
        width: 750px;
    }
}

@media(min-width:980px) {
    container {
        width: 950px;
    }
}

@media(min-width:1200px) {
    container {
        width: 1150px;
    }
}

.start{
    text-align: center;
}
.start h2{
    color: var(--color-i);
    font-weight: bold;
    font-size: 30px;
    padding-top: 9px;
}
/* ====================================================== */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #2a2b2f;
}

.header .head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.header .head .gm .mg img {
    width: 500px;
    position: absolute;
    right: 51px;
    top: 131px;

}

.header .head .gm .mo img {
    width: 400px;
    height: 377px;
    top: 113px;
    position: absolute;
    right: 138px;
}

@media(max-width:767px) {
    .header .head .gm .mg img {
        left: 134px;
        width: 215px;
        top: 232px;
    }

    .header .head .gm .mo img {
        left: 137px;
        width: 185px;
        height: 235px;
        top: 206px;
    }
}

.header .head .te {
    color: #fff;
}

.header .head .te h3 {
    font-weight: bold;
    color: var(--color-i);
    font-size: 52px;
    position: absolute;
    top: 186px;
}

.header .head .te h2 {
    position: absolute;
    top: 265px;
    font-size: 32px;
    z-index: 3;
}

.header .head .te h2 span {
    margin-right: 12px;
}

.header .head .te h2 span::before {
    content: "";
    position: absolute;
    width: 28%;
    height: 4px;
    background-color: var(--color-i);
    bottom: -1px;
    left: -2px;
}

.header .head .te p {
    position: absolute;
    top: 324px;
    font-size: 30px;
    z-index: 4;
}

@media(max-width:767px) {
    .header .head .te h2 {
        font-size: 25px;
    }

    .header .head .te p {
        width: 100px;
        left: 10px;
        font-size: 26px;
    }

    .header .coc {
        margin-left: 116px;

    }
}

.header .coc {
    font-size: 29px;
    bottom: 90px;
    position: absolute;
    left: 22%;
    transform: translatex(-50%);
    color: var(--color-i);
}

.header .coc a {
    color: var(--color-i);
}

.header .coc i {
    padding: 0 10px;
}

/* .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
} */

.header nav {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul {
    direction: rtl;
}

nav i {
    color: var(--color-i);
    font-size: 35px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--color-i);
    bottom: -10px;
    left: 0;
    transition: .4s;
}

nav ul li:hover:after {
    width: 100%;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#check {
    display: none;
}

.checkbox #bars {
    color: var(--color-i);
}

@media(min-width: 768px) {
    .header #bars {
        display: none;
    }

}

@media(max-width:768px) {
    .header ul {
        position: absolute;
        top: -400px;
        background-color: rgb(0, 0, 0, 75%);
        position: fixed;
        text-align: center;
        align-items: center;
        width: 98%;
        height: 50vh;
        border-radius: 10px;
        left: 147px;
        transition: 0.5s;
        z-index: 7;
        margin-left: -146px;

    }

    .header ul li {
        display: block;
        padding: 20px;
    }

    #check:checked~ul {
        top: 70px;
    }
}

/* ============================================================= */
.services {
    background-color: #2d2e32;
    min-height: 300px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container .serv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.container .serv .serv-img {
    background-color: #2a2b2f;
    margin-top: 15px;
    position: relative;
    height: 264px;
    border-radius: 35px;
}

.serv-img img {
    width: 251px;
    height: 181px;
    
}

.serv-img .serv-text h2 {
    color: #fff;
    font-size: 38px;
    position: absolute;
    bottom: 39px;
    left: 50%;
    transform: translate(-50%);
}

.serv-img .serv-text p {
    
}

.serv-img .serv-text .brog {
    background-color: #2d2e32;
    height: 15px;
    margin: 51px 0 0 0;
    width: 316px;
    padding-left: 10px;
}

.serv-img .serv-text .brog span {
    display: block;
    background-color: var(--color-i);
    height: 100%;
    position: relative;
    margin: 30px 0 0 0;

}




.serv-img .serv-text .brog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: #2a2b2f;
    color: var(--color-i);
    top: -38px;
    right: -16px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.serv-img .serv-text .brog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: #000 transparent transparent transparent;
    right: -6px;
    top: -12px;
}
/* End cection */
/* ============================================ */
/* Start cection */
.about-me{
    position: relative;
    min-height: 300px;
    background-color: #2d2e32;
}

.about-me .me-img-text{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
}

.about-me .me-img-text .about-amg {
text-align: center;
z-index: 6;
}
.about-me .me-img-text .about-amg::before{
    content: "";
    background-color: transparent;
    position: absolute;
    width: 200px;
    height: 236px;
    border-bottom: 3px solid var(--color-i);
    border-left: 2px solid var(--color-i);
    border-right: 2px solid var(--color-i);
    border-top: 2px solid var(--color-i);
    top: 93px;
    left: 93px;
    z-index: -1;
}
@media(max:767px){
    .about-me .me-img-text .about-amg::before{
        content: "";
        position: absolute;
        top: 50px;
        left: 100px;
    }
}
.about-me .me-img-text .about-amg img{
    margin-top: 64px;
    width: 200px;
    height: 236px;
    margin-bottom: 64px;
}
.about-me .me-img-text .abot-text h2{
    color: #fff;
    margin: 48px 0 0 0;
    position: relative;
    padding-left: 8px;
}
.about-me .me-img-text .abot-text h2::before{
    content: "";
    background-color: var(--color-i);
    width: 17%;
    position: absolute;
    height: 4px;
    bottom: -3px;
    left: 7px;
}
.about-me .me-img-text .abot-text p{
    color: #fff;
    margin: 30px 0;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 10px;
}
/* End cection */
/* Start skili */
.skili {
    background-color: #2d2e32;
}
.skili .container{
padding-top: 40px;
padding-bottom: 40px;
}
.skili .box-skili{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    align-items: center;
    justify-content: center;
}
.skili .box-skili .box-ski{
background-color: #2a2b2f;
    min-height: 236px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 35px;
}
.skili .box-skili .box-ski .ski-text h2{
color: #fff;
    display: inline-block;
    position: absolute;
    left: 13px;
    bottom: 56px;
}
.skili .box-skili .im img{
    width: 200px;
}
.skili .box-skili .box-ski .ski-text button{
   border: none;
    position: absolute;
    right: 30px;
    background: linear-gradient(to right, #ac8a28, #7a5e2e);
    padding: 5px 27px;
    bottom: 56px;
    border-radius: 6px;
    transition: 0.3s;
}
.skili .box-skili .box-ski .ski-text button:hover{
background: linear-gradient(to right,#7a5e2e, #ac8a28);
}

.skili .box-skili .box-ski .ski-text button a{
color: #000;
text-decoration: none;
}
/* ============================================================== */
.footer{
    background-color: #2a2b2f;
    color: #fff;
}
.footer h2{
    text-align: center;
    margin:0 0 20px 0;
}
.footer .ff{
    text-align: center;
    margin: 0 5px 0;
}
.footer ul{
    text-align: center;
    margin: 15px 0;
}
.footer ul i a{
    text-decoration: none;
}
.footer ul i{
    padding: 0 5px 0;
    color: var(--color-i);
}
.footer .fg{
 margin: 0 0 0 8px;
    padding-bottom: 8px;
}